- @propaganda ||= Propaganda.new
.propaganda-input
  =form_for @propaganda, remote: true, authenticity_token: true do |f|
    .form-group
      =f.label :titulo
      =f.text_field :titulo, class: 'form-control'
    .form-group
      =f.label :cuerpo
      =f.text_area :cuerpo, class: 'form-control'
    .form-group
      =f.label :url
      =f.text_field :url, class: 'form-control'
    .form-group
      =f.submit class: 'btn btn-default'
