.container
  .row
    .col-md-12
      = render 'form'

  .row
    .col-md-9.col-sm-12
      = render 'propagandas', propagandas: @propagandas

    .col-md-3.col-sm-12
      = #render 'piratas/online', piratas: @online
